version: '3.8'

networks:
  cassandra-cluster:

services:
  {% for worker in groups['swarm_workers'] -%}
  cassandra-node-{{ loop.index }}:
    image: bitnami/cassandra:latest
    deploy:
      endpoint_mode: dnsrr
      mode: global
      update_config:
        order: stop-first
      restart_policy:
        condition: on-failure
        max_attempts: 3
        window: 120s
      placement:
        constraints:
          - node.hostname == swarm-worker-{{ loop.index }}
    ports:
      - { published: 7000, target: 7000, mode: host }
      - { published: 9042, target: 9042, mode: host }
      - { published: 7199, target: 7199, mode: host }
    volumes:
      - /mnt/cassandra_data_{{ loop.index }}:/bitnami
    networks:
      - cassandra-cluster
    environment:
      CASSANDRA_CLUSTER_NAME: cassandra-cluster
      CASSANDRA_PASSWORD: {{ cassandra_passwd }}
      CASSANDRA_SEEDS: cassandra-node-1
      {% if worker == groups['swarm_workers'][0] -%}
      CASSANDRA_PASSWORD_SEEDER: "yes"
      {% endif %}

  {% endfor -%}
